{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bienvenue sur Doc Sharing {{user.username}}</h1>
    <ul>
        <li>
            <a href="{% url 'logout_view' %}">Déconnexion</a>
        </li> <br>
        <li>
            <a href="{% url 'upload_file' %}">Enregistrer un fichier</a>
        </li> <br>
        <li>
            <a href="{% url 'user_profile' %}">Profile</a>
        </li> <br>
        <li>
            <a href="{% url 'file_list' %}">Mes fichiers Partagés</a>
        </li>
    </ul>



</body>
</html>