<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/login.css' %}">

    <title>Connexion</title>
</head>
<body>
    <div class="container">
        <div class="form">
            <h1>Connexion</h1>

            {% if messages %}
            <div class="error-messages">
                {% for message in messages %}
                <p class="error">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="username">Nom d'utilisateur</label>
                <input type="text" name="username" required>
                <label for="password">Mot de passe</label>
                <input type="password" name="password" required>
                <button type="submit">Se connecter</button>
            </form>
            <div style="display: flex;">

                <p class="link">Pas encore inscrit ? <a href="{% url 'register' %}">S'inscrire</a></p>
                <p class="link">Mot de passe oublier? <a href="{% url 'password_reset_email' %}">Reset</a></p>

            </div>
        </div>
    </div>
    

</body>
</html>